[submodule ".config/zsh/zsh-autosuggestions"]
	path = .config/zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions
[submodule ".config/zsh/zsh-syntax-highlighting"]
	path = .config/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".config/zsh/almostontop"]
	path = .config/zsh/almostontop
	url = https://github.com/Valiev/almostontop
